@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Wix+Madefor+Display&display=swap');
h2 {
    font-weight: bold;
    color: #222;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

body {
    font-size: 14px;
    color: #F0FFFF;
    font-family: 'Nunito Sans', sans-serif;
    background-color: white;
    margin: 0;
    text-align: center;
}

.main {
    padding: 60px 0;
}

.registration-table {
    padding: 50px 60px 70px 60px;
}

.submit {
    background: #4966b1;
    color: #fff;
    padding: 16px 17px;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
}

.submit:hover {
    background: #3a518d;
}

.container {
    margin-top: 10px;
}

.navbar {
    margin-top: 20px;
    background-color: #89CFF0;
    padding: 10px;
    margin-bottom: 20px;
    font-family: 'Nunito Sans', sans-serif;
}

@media screen and (max-width: 1024px) {
    .container {
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: calc(100% - 30px);
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .registration-form {
        padding: 50px 30px 70px 30px;
    }
}

input, select, textarea {
    outline: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: none;
}

.login-form body {
    font-size: 13px;
    color: #F0FFFF;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
}
